body {
  background-color: #f3ce92;
}

header {
  background-color: #F9A826
}

header a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

header a:hover {
    color: #E6D5B8;
}

main {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem
}

/* links */
a {
  text-decoration: none;
  color: #E45826;
}

a:hover {
  color: #913919;
}

/* buttons */
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #000;
  --bs-btn-bg: #E45826;
  --bs-btn-border-color: #E45826;
  --bs-btn-border-radius: .3rem;
  --bs-btn-hover-bg: #913919;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-padding-y: .10rem;
  --bs-btn-padding-x: .5rem;
  margin: .3rem
}

.btn-bd-primary2 {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #000;
  --bs-btn-bg: #F0A500;
  --bs-btn-border-color: #F0A500;
  --bs-btn-border-radius: .3rem;
  --bs-btn-hover-bg: #b87f03;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-padding-y: .15rem;
  --bs-btn-padding-x: .5rem;
  margin: .5rem
}

.btn.btn-link {
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: -1rem;
  --bs-btn-color: #E6D5B8;
}

/* alinhamento de buttons */
.d-flex.justify-content-start {
  text-align: center
}

/*alerts*/
.warning {
  font-weight: 600;
  color: rgb(168, 130, 5);
  background-color: #f3e77b;
  border-radius: .3rem;
  padding-left: .5rem;
}

